<div class="container">
<h1>Editing Employee</h1>

<% @employee_data = JSON.parse(@employee[:body]) %>

<%= form_tag employee_path(@employee_data["id"]), :method => :put do %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= text_field_tag :name, @employee_data["name"], class: 'form-control' %>
    
  </div>
  <div class="mb-3">
    <label for="position" class="form-label">Position</label>
    <%= text_field_tag :position, @employee_data["position"], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <%= number_field_tag :salary, @employee_data["salary"], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="date_of_birth" class="form-label">Date of Birth</label>
    <%= date_field_tag :date_of_birth, @employee_data["date_of_birth"], class: 'form-control' %>
  </div>

  <%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>

</div>
<br>